@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #eef2f7;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track {
  background-color: #734b6d;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #42275a;
}

#root {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.main-content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6441a5;
  background: -webkit-gradient(linear, left top, right top, from(#6441a5), to(#2a0845));
  background: linear-gradient(to right, #6441a5, #2a0845);
  color: #fff;
  padding: 0 40px;
  -webkit-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

nav a {
  /* margin-right: 40px; */
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

nav a:hover {
  background-color: #fff;
  color: #6441a5;
}

img {
  max-width: 100%;
}

.places-container {
  padding-top: 24px;
}

.head-main {
  text-align: center;
}

.head-main h1 {
  margin: 0;
  margin-bottom: 20px;
}

.head-main h4 {
  margin: 0;
  margin-bottom: 10px;
}

.places {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  gap: 10px;
  padding: 10px;
  padding-bottom: 50px;
  scrollbar-color: #0f0f0f transparent;
  scrollbar-width: thin;
}

@media only screen and (max-width: 430px) {
  .places {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.place {
  -webkit-box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.place-a img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

.place-b {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

.place-b h4 {
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.place-b button {
  font-size: 16px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#42275a), to(#734b6d));
  background: linear-gradient(to right, #42275a, #734b6d);
  color: #eef2f7;
  padding: 5px 20px;
}

.overview {
  padding: 10px;
}

.ov-a {
  margin-bottom: 20px;
}

.ov-a h2 {
  font-size: 34px;
  margin: 0;
  margin-bottom: 10px;
}

.ov-a h2 span {
  font-size: 24px;
  opacity: 0.5;
}

.ov-a h4 {
  margin: 0;
  opacity: 0.5;
}

.ov-b {
  text-align: center;
}

.ov-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.ov-btns span {
  color: #734b6d;
}

.ov-btns .start {
  font-size: 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#42275a), to(#734b6d));
  background: linear-gradient(to right, #42275a, #734b6d);
  color: #eef2f7;
  padding: 5px 20px;
}

.form {
  padding: 10px;
}

.form h2 {
  text-align: center;
}

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dde5ef;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.destination span:nth-child(2) {
  font-weight: bold;
}

.form-a,
.form-b,
.form-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.form-a input,
.form-b input,
.form-d input {
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  padding: 10px;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.form-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.form-c select {
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  padding: 10px;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-e,
.confirm-btn {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

.form-e span,
.confirm-btn span {
  color: #734b6d;
}

.form-e .confirm,
.confirm-btn .confirm {
  font-size: 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#42275a), to(#734b6d));
  background: linear-gradient(to right, #42275a, #734b6d);
  color: #eef2f7;
  padding: 5px 20px;
}

.confirm-box {
  background-color: #dde5ef;
  padding: 10px;
  margin: 20px;
}

.confirm-box .head {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .confirm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.confirm-a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.confirm-a span:nth-child(1) {
  font-weight: bold;
}

.confirm-b {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.confirm-b span:nth-child(1) {
  font-weight: bold;
}

.final {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 10px;
}

.final-inner {
  padding: 10px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  padding-bottom: 10px;
}

.final-inner p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.final-inner p span {
  font-weight: bold;
  text-transform: capitalize;
}

.final-inner .book {
  display: inline-block;
  font-size: 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#42275a), to(#734b6d));
  background: linear-gradient(to right, #42275a, #734b6d);
  color: #eef2f7;
  padding: 5px 20px;
}

/* Footer Styles below   */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #222;
  color: #fff;
}

footer .social-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.social-btns .social-btn {
  padding: 12px 14px;
  background: #333;
  margin: 2px;
  text-align: center;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.social-btn a {
  color: #fff;
}

.social-btn:first-child:hover {
  background-color: #55acee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-btn:nth-child(2):hover {
  background-color: #0077b5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-btn:nth-child(3):hover {
  background-color: #2edb59;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-btn:nth-child(4):hover {
  background-color: #574b90;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-btn:last-child:hover {
  background-color: #4183c4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.to-top {
  text-align: center;
}

.to-top img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.to-top #trick {
  opacity: 0;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font: 12px "Lato", sans-serif;
  margin: 0 0 10px;
}

.rocket:hover #trick {
  opacity: 1;
}

footer .copyright {
  text-align: center;
  margin: 0 0 0;
  font: 14px "Lato", sans-serif;
  color: #aaa;
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */